.cards-cc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .card-body{
    .card-title{
      padding-bottom: .4em;
      border-bottom: 1px solid #99a9b3;
    }
    .card-text{
      margin: 0;
      padding: 0;
    }
    p{
      margin: 0;
      padding: 0;
    }
  }
}